html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: italic;
vertical-align: baseline;
}
/ HTML5 display-role reset for older browsers /
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
body{
width: 100%;
}
#container{
width: 100%;


}
.responsive {
    width: 100%;
    height: auto;
    }

::placeholder {
    color: red;
    opacity: 1; /* Firefox */
}

h1{
font-size: 40px;
color: white;
text-shadow: 3px 2px red;
font-style: italic;
text-align: center;
position: absolute;
bottom: -96px;

}
button{
font-size: 30px;
height: 74px;
width: 100px;
font-style: italic;
color: red;
}
.Label{
height: 500px;
width: 100%;
font-style: italic;
text-shadow: 3px 2px red;
text-align: center;
background-color: #b28a33;
}
.BendraPaieska{
margin-left: 80px;
pading-left: 80px;
display: flex;
align-items: center;
padding-top: 90px;
color: red;
}
.selectBox{
	
	margin-left:-24px;
height: 100px;
width: 300px;
border-style: none;
font-style: italic;
color: red;
font-size: 30px;

/*border-collapse: collapse;*/
}
#sersas{
max-width: 400px;
height: 68px;
font-style: italic;
color: red;
font-size: 30px;
}

.blokas{
width: 100%;
height: 500px;
align-items: center;
}
form{
display: flex;
height: 240px;

flex-direction: column;
width: 400px;
align-items: center;
}
p{
font-size: 80px;
}
label{
/*font-size: 500px;*/
}
.Label{
	width: 100%;
	height: 500px;
	align-items: center;

}
#Endas{
width: 100%;
height: 269px;
background-color: black;
}
#Endas p{
color: white;
font-style: italic;
font-size: 21px;
text-align: right;
padding-top: 210px;



}











